body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0e0e0e;
  color: #fff;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
}

video {
  width: 100%;
  margin: 15px 0;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background: #1c1c1c;
  border: none;
  color: #fff;
}

button, .btn {
  display: block;
  width: 100%;
  padding: 10px;
  background: #ff0055;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.card {
  background: #1c1c1c;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
}
